body {
    width: 90%;
    max-width: 900px;
    margin: 2em auto;
    font: .9em/1.2 Arial, Helvetica, sans-serif;
}

.container {
    column-width: 200px;
    /* column-count: 3; */
    column-gap: 30px;
    column-rule: 2px solid rgb(184, 84, 34);
}

.span-cols {
    column-span: all;
    background-color: lightgreen;
    border-radius: 4px;
    border: 1px solid green;
    padding: 4px 8px;
}
