html {
    background-color: #526b6c;
}

h1 {
    background-color: #83baba;
    padding: 2px 4px;
    border-radius: 4px;
    color: #3e6c5a;
}
h1:hover {
    color: peru;
}

p {
    color: peru;
    background-color:#83baba;
    padding: 4px 8px;
    font-weight: 700;
    font-size: 30px;
    border-radius: 8px;
    border: 2px solid rgb(152, 123, 98);
}

p:hover {
    color:antiquewhite;
    text-decoration: underline;
}

a {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: white;
    font-style: italic;
    margin: 0 0 0 100px;
    box-shadow: 1px 1px 3px red;
    color: rgb(234, 79, 27);
    padding: 5px 8px;
    border-radius: 5px;
    text-decoration: none;
    border: 3px solid rgb(63, 57, 47);
}

a:hover {
    color: red;
    box-shadow: 1px 1px 10px red;
    text-decoration: underline;
}
