* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background: #ccc;
}

article {
  width: 210mm;
  height: 297mm;
  margin: 20px auto;
  position: relative;
}

address {
  position: absolute;
  bottom: 8mm;
  right: 20mm;
}

h1 {
  position: absolute;
  top: 12mm;
  left: 20mm;
  width: 128px;
  height: 128px;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  padding: 44px 0;
  color: white;
  text-shadow: 1px 1px 1px black;
}

/* Your CSS below here */

article {
    background: url('top-image.png') no-repeat 0px 0px / auto auto;
    background: linear-gradient(to top, #0000002b, #ffffff00, #0000002b), url('top-image.png') no-repeat 0px 0px / auto auto, url('bottom-image.png') no-repeat 100% 100% / auto auto, #fff;
    border-top: 1mm solid orange;
    border-bottom: 1mm solid orange;
}

h1 {
    background: url('logo.png') 0px 0px / auto auto no-repeat;
    border-radius: 999px;
    box-shadow: 0px 0px 10px #33333387;
    filter: drop-shadow(8px 8px 10px rgb(105, 100, 100));
}

.first-text {
    margin-top: 300px;
}

.text {
    padding: 0 30px;
}
