* {box-sizing: border-box;}

html {
  font-family: sans-serif;
}

body {
  width: 500px;
  margin: 0 auto;
  margin-top: 10px;
  padding-top: 30px;
  border: 1px solid #333;
}

h1 {
  text-align: center;
}

p {
  padding: 1em;
  padding-left: 30px;
}

.sticky {
  position: sticky;
  left: 50px;
  
  border-radius: 16px;
  width: 300px;
  text-align: center;
  cursor: pointer;
  margin: 0 auto;
  background-color: rgba(0, 128, 0, 0.594);
  padding: 0.7em;
  color: lightgoldenrodyellow;
  font-size: 1.2em;
}

.sticky1 {
  top: 30px;
  background-color: orange;
}

.sticky2 {
  bottom: 50px;
}
